<button type="button"  id="resetRoute"  class="btn btn-sm pull-right" data-toggle="button">
  Reset Route
</button>

<h4>Simulate</h4>
<hr/>

<strong>GPS Frequency:</strong>
<select id="frequency">
  <option value="10">10s</option>
  <option value="15">15s</option>
  <option value="30">30s</option>
  <option value="45">45s</option>
  <option value="60">60s</option>

</select>

<br/>

<strong>GPS Error:</strong>
<select id="error">
  <option value="0">0m</option>
  <option value="5">5m</option>
  <option value="10">10m</option>
  <option value="15">15m</option>
  <option value="20">20m</option>
  <option value="25">25m</option>
</select>

<br/>

<strong>Trace Speed:</strong>
<select id="speed">
  <option value="10">10 km/h</option>
  <option value="20">20 km/h</option>
  <option value="30">30 km/h</option>
  <option value="40">40 km/h</option>
  <option value="50">50 km/h</option>
</select>

<hr/>

<div id="clickInfo" class="alert alert-info" role="alert">Click the map to define a start and end location for a journey.</div>

<div id="journeyInfo" class="container">
  <button type="button"  id="stepPath"  class="btn btn-sm" data-toggle="button">
    stepPath
  </button>

<p>&nbsp;</p>
</div>
